[Unit]
Description=HyprShelld desktop shell
Wants=hyprshelld.service hyprshelld-configd.service hyprshelld-componentd.service hyprshelld-surfaced.service
After=graphical-session.target
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target
